$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';
$fa-font-path: "/bower_components/components-font-awesome/fonts";
@import "components-font-awesome/scss/font-awesome";


/* ***** Global ***** */

$font-stack: Helvetica, Arial, sans-serif;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font-stack;
    padding-top: 20px;
    padding-bottom: 20px;
}

#body {
    margin-bottom: 60px;
}

a, a:hover, a:focus {
    color: #939393;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #595A5C;
    font-family: $font-stack;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 0px solid #ffffff;
}

.rm-pad-left-right {
    padding-left: 0px;
    padding-right: 0px;
}

.rm-margin { margin: 0px; }
.add-margin { margin-bottom: 25px; }

.float-left { float: left; }
.float-right { float: right; }

.centered { text-align: center; }


/* ***** Header ***** */

.navbar-brand {
    float: none;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

header {
    margin-bottom: 30px;
}

/* Navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.container > .navbar-header, .container > .navbar-collapse {
    border-color: #ffffff;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-default .navbar-toggle {
    color: #595A5C;
    border-color: #fff;
    font-size: 20px;
    padding: 0 5px;
    margin-top: 5px;
    margin-right: 0px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#navbar-header-default {
    text-align: center;
    margin: 15px auto 0 auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#drop-right, #drop-right:hover, #drop-right:focus {
    background-color: #ffffff;
}

.open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    display: block;

    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
}

.navbar-nav > li > a, .nav > li > a {
    padding: 0 3px 0 0;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.header-username {
    margin: 21px 15px;
}

#mobile-collapse {
    text-align: right;
}


/* ***** Pages ***** */

.btn-primary, .btn-default, .form-control {
    border-radius: 0px;
}

.btn-primary:hover {
    border-color: #428bca;
}

.well {
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-bottom: 8px;
    color: #595A5C;
}

.checkbox {
    font-weight: normal;
}

.has-feedback .form-control-feedback {
    top: 6px;
    right: 15px;
}

.form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.glyphicon {
    margin-right: 2px;
}

.error-warning-glyph {
    color: #8A6D3B;
}

.error-remove-glyph {
    color: #A94442;
}

.loading-spinner {
    padding: 15px
}

.display-error {
    color: #A94442;
    margin-bottom: 15px;
}

/* main.html */

#section-main {
    margin-top: 6%;
}

#main-title {
    font-size: 40px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
}

#main-desciption {
    font-weight: 200;
}

#main-form {
    max-width: 600px;
    margin: 50px auto 0 auto;
    background-color: #f1f1f1;
    padding: 40px 35px 20px 35px;
}

#main-form-name {
    padding: 0 10px 0 0;
}

#main-form-email {
    padding: 0 0 0 10px;
}

/* sign-in.html */
#section-signin {
    margin-top: 4%;
}

#signin-title {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#signin-form {
    max-width: 420px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 40px 50px;
}

/* demo-form.html */
#demo-form {
    max-width: 620px;
    margin: 0 auto;
}

#demo-form select {
    max-width: 300px;
}

#demo-form-birth {
    max-width: 84px;
}

#demo-phone-block {
    margin-top: 0px;
    margin-bottom: 25px;
}

#dmeo-gender-label {
    font-weight: normal;
}

/* dashboard.html */

.search-bar {
    width: 100%;
    background-color: white;
    border: #e0e0e0 solid 1px;
    padding: 5px;
    margin: 0 0 20px 0;
}

#filters-heading {
    padding: 0;
}

#filter-options-group {
    padding: 15px 15px 0 0;
}

.panel-heading.accordion-toggle:before {
    font-family:'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: #595A5C;
    font-size: 15px;
    margin-right: 5px;
}
.panel-heading.accordion-toggle.collapsed:before {
    content:"\e114";
    color: #595A5C;
    font-size: 15px;
    margin-right: 5px;
}
.panel-heading {
    cursor: pointer;
}

.filter-icon {
    color: #595A5C;
    font-size: 20px;
    margin-right: 5px;
}

#mobile-participant-title {
    float: left;
    margin: 0px;
}

#dash-user-group {
    margin: 28px 0 20px 0;
    padding: 25px 10px 20px 10px;
}

#dash-user-thumbnail {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    padding: 0px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
}

#dash-user-info {
    padding: 10px 0;
    min-height: 92px;
    background-color: whitesmoke;
}

#dash-user-name {
    margin-top: 0px;
}

#dash-user-state {
    color: #8a8b8c;
    margin: 1px 12px 0 0;
}

#dash-user-age {
    color: #8a8b8c;
    margin: 1px 0 0 0;
}

.panel {
    border: 0px solid transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ffffff;
}

.panel-heading {
    padding: 5px 0px;
}

.panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: #ffffff;
}

.panel-body {
    padding: 5px 0 5px 2px;
}

.panel-default >.panel-heading +.panel-collapse .panel-body {
    border-top-color: #ffffff;
}

.filter-glyph {
    float: right;
    padding-top: 4px;
}

.user-icons {
    float: left;
    color: #bcbdbd;
    margin-right: 5px;
}

/* participant-profile.html */

.table > tbody > tr > td {
    padding: 2px;
    border-top: 0px solid #dddddd;
}

.table h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-profile {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    padding: 0px;
    border: 1px solid #a3a3a3;
}

.separator {
    height: 50px;
}

/* error-page.html, form-finish.html, thank-you.html, complete.html */

.alert-content {
    margin-top: 10%;
    text-align: center;
}

.alert-content h1 {
    font-size: 4em;
}

/* complete.html */

#send-friend-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 50px;
    text-align: center;
}


/* ***** Footer ***** */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer-nav {
    margin: 20px 0;
    text-align: center;
    padding-left: 0px;
}

.footer-nav {
    ol {
        margin: 0px; padding: 0px;
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0 8px 0 8px;
    }

    a {
        color: #999999;
    }

    a:hover {
        text-decoration: none; color: #666666;
    }
}


/* ***** Media Queries ***** */

@media screen and (min-width: 768px){
    #mobile-nav {
        display: none; 
    }

    #mobile-search-bar, #mobile-dash-header {
        display: none;
    }

    #user-profile-mobile-heading, #user-profile-mobile-options {
        display: none;
    }
}

@media screen and (max-width: 767px){
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .add-padding-left-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    #logo {
        max-width: 150px;
    }

    #desktop-collapse {
        display: none;
    }

    #main-title {
        font-size: 30px;
        padding: 0 8px;
        margin-top: 10px;
    }

    #main-desciption {
        font-size: 20px;
        padding: 0 8px;
    }

    #main-form {
        margin: 20px auto 0 auto;
    }

    #main-form-name, #main-form-email {
        padding: 0;
    }

    #desktop-search-bar, #default-filter-header, #participant-title {
        display: none;
    }

    #filter-options-group {
        padding: 15px 5px 0 0;
    }

    #dash-user-group {
        margin: 0 0 20px 0;
        padding: 5px 0 0 0;
    }

    // spacing between stacked users on mobile
    #user {
        margin: 12px 0;
    }

    #dash-user-info {
        min-height: 1px;
        padding: 10px 8px 10px 10px;
    }

    #dash-user-name {
        font-size: 22px;
    }

    #user-profile-left {
        display: none;
    }

    #user-profile-name {
        padding-left: 10px;
    }
}

@media screen and (max-width: 480px){
    #logo {
        max-width: 130px;
    }

    #dash-user-info {
        padding: 0 8px 10px 8px;
    }

    #dash-user-name {
        font-size: 16px;
    }

    #dash-user-state, #dash-ser-age {
        font-size: 12px;
    }

    #user-profile-name h2 {
        font-size: 22px;
    }
}
