$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


/* ***** Global ***** */

html {
    position: relative;
    min-height: 100%;
}

body { 
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.body { margin-bottom: 60px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #595A5C;
}

.centered { 
    text-align: center;
}

.form-group { 
    margin-bottom: 25px; 
}

.form-group label {
    display: inline-block;
    margin-bottom: 8px;        
    font-weight: normal;
    color: #595A5C;
}
  
.input-lg {
    border-radius: 0px;
}

.btn-primary {
    border-radius: 0px;
}

/* ***** Header ***** */

header { 
    margin-bottom: 30px; 
}

/* Navbar */
.navbar-default { 
    background-color: #ffffff; 
    border-color: #ffffff; 
}

#logo img { 
    max-width: 14em; 
    height: auto; 
}

.header-username {
    margin: 21px 15px;
}


/* ***** Pages ***** */

.form-title {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.custom-error {
    color:#FF0000;
    margin-bottom: 25px;
}

/* main.html */   
.section-main { 
    margin-top: 4%; 
}

.main-form { 
    max-width: 420px; 
    margin: 0 auto; 
    background-color: #f1f1f1;
    padding: 40px 50px;
}

/* sign-in.html */   
.section-si { 
    margin-top: 4%; 
}
    
/* demo-form.html */
.demo-form { 
    max-width: 650px; 
    margin: 0 auto; 
}

.demo-form select { 
    max-width: 300px; 
}

#demo-form-birth { 
    max-width: 84px; 
}        

/* thank-you.html */
.section-ty { 
    margin-top: 10%; 
    text-align: center; 
}

.section-ty h1 {  
    font-size: 4em; 
}

/* form-finish.html */
.section-ff { 
    margin-top: 10%; 
    text-align: center; 
}

.section-ff h1 {  
    font-size: 4em; 
}

/* error-page.html */
.section-ep { 
    margin-top: 10%; 
    text-align: center; 
}

.section-ep h1 {  
    font-size: 4em; 
}


/* ***** Footer ***** */

#footer {
    position: absolute; 
    bottom: 0;
    width: 100%; 
    height: 60px;
}

.footer-nav { 
    margin: 20px 0; 
    text-align: center; 
    padding-left: 0px; 
}

.footer-nav {
    ol { 
        margin: 0px; padding: 0px; 
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0 8px 0 8px;
    }

    a { 
        color: #999999; 
    }

    a:hover { 
        text-decoration: none; color: #666666; 
    }
}


/* ***** Media Queries ***** */

@media screen and (max-width: 490px){
    .section-main h1, .section-ty h1 { 
        font-size: 2em; 
        margin-bottom: 30px; 
    }
}