<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a ng-href="#main">
          <img src="./images/logo.svg" alt="">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="fat-menu" class="dropdown">
            <a href="" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{username}}! <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation"><a role"menuitem" tabindex="-1">Change Password</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
