<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a id="logo" ng-href="#main">
                        <img src="./images/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="header-username">Welcome, {{username}}!</li>
                    <li>
                        <a ng-click="logout()">
                            <input type="button" class="btn btn-primary" value="Log out">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>