<header-post></header-post>

<div class="container">
  <!-- change password modal -->
  <change-password></change-password> 

  <div class="col-md-3 col-sm-4">
    <!-- filters -->
    <filter-options></filter-options>

    <br />
    <p>Displaying {{total}} results</p>
    
    <br />
  </div>

  <div class="col-md-9 col-sm-8" infinite-scroll="nextPage()">
    <h3 id="participant-title">Participants</h3>

    <div class="well row" id="dash-user-group">
      <div ng-repeat="u in users | filter: search" class="col-md-3 col-sm-4 col-xs-12" id="user">
        <a href="#participant-profile/{{u.id}}">
          <div>
            <div class="col-md-12 col-sm-12 col-xs-2 rm-pad-left-right">
              <img src="./images/default-user.svg" class="img-responsive" id="dash-user-thumbnail">
            </div>

            <div class="col-md-12 col-sm-12 col-xs-10" id="dash-user-info">
              <h5 class="rm-margin-top" id="dash-user-name">{{u.name | limitTo: 22 }}</h5>
              <div>
                  <i class="fa fa-home user-icons"></i><h6 class="float-left" id="dash-user-state">{{u.state}}</h6>
                  <i class="fa fa-user user-icons"></i><h6 class="float-left" id="dash-user-age">{{u.age}}</h6>
              </div>
            </div>
          </div>
        </a>

        <hr>
      </div>

      <p ng-show="noResults">{{ noResults }}</p>

      <div class="col-md-12">
        <div class="loading-spinner centered" ng-show="populating"><img src="images/loading.gif" alt="" /></div>
      </div>
    </div>
  </div>
</div>