<header-post></header-post>

<div class="container">
	<div class="col-md-3 col-sm-3">
	    <h3>Filters</h3>
	    <br />
	</div>
	<div class="col-md-9 col-sm-9">
		<h3>Participants</h3>
		<br />
	    <div class="row">
	      	<div ng-repeat="u in users" class="col-md-3 col-xs-6 col-sm-4">
	        	<div class="user-box">
	          		<img src="./images/default-user.jpg" class="img-thumbnail img-responsive">
	          
		          	<div class="user-info">
		            	<h4 class="user-name">{{u.name}}</h4>
		            	<h5>previous test</h5>
		          	</div>
		        </div>
	        	<hr>
	      	</div>
	    </div>
	</div>
</div>
