<header-default></header-default>

<div class="container">
  <div class="section-default">
    <div id="forgot-pass-form">
      <h3>Change your password</h3>
      
      <p>Submit your email below and we will send you a link to change your password.</p>

      <br />
    	<form ng-submit="forgotPassword()">
    		<div class="form-group">
          <input type="email" class="form-control input-lg" ng-model="formData.email" placeholder="email" maxlength="45" required>
        </div>
        <div class="centered">
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send">
        </div>
      </form>
    </div>
  </div>
</div>
