<div class="container">
  <div class="section-main">
    <h1 align="center">User Experience Labs</h1>

    <div class="main-form">
      <form role="form" ng-controller="FormCtrl1">
        <div class="form-group">
          <label for="main-form-name">Name</label>
          <input type="name" class="form-control input-lg" id="main-form-name" placeholder="Name" maxlength="25" ng-model='formInfo.Name' required>
        </div>
        <div class="form-group">
          <label for="main-form-email">Email address</label>
          <input type="email" class="form-control input-lg" id="main-form-email" placeholder="sample@sample.com" maxlength="40" ng-model='formInfo.Email' required>
        </div>
        <button type="submit" ng-click="saveData()" class="btn btn-default btn-lg">Sign Up</button>
        <br />
      </form>
    </div>
          
  </div>
</div>