<header-default></header-default>

<div class="container">
  <div class="section-default">
    <h1 align="center">Welcome to our User Experience Labs</h1>
    <h3 align="center">Sign up to be a participant for upcoming tests!</h3>
    <br />

    <div class="mini-form" id="main-form">
      <form ng-submit="submitSignUpForm()">
        <div class="col-md-12 rm-pad-left-right">
          <div class="col-md-6 col-sm-6" id="main-form-name">
            <div class="form-group">
              <input type="name" class="form-control input-lg" ng-model="firstName" placeholder="first name" maxlength="25" required>
            </div>
          </div>

          <div class="col-md-6 col-sm-6" id="main-form-email">
            <div class="form-group">
              <input type="name" class="form-control input-lg" ng-model="lastName" placeholder="last name" maxlength="25" required>
            </div>
          </div>

          <div class="col-md-12 rm-pad-left-right">
            <div class="form-group">
              <input type="email" class="form-control input-lg" ng-model="formData.email" placeholder="email" maxlength="45" required>
            </div>
          </div>
        </div>

        <p ng-show="existingEmail" class="display-error">{{ existingEmail }}</p>
        <div class="centered">
          <input type="submit" class="btn btn-primary btn-lg" value="Sign Up">
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
