<header-post></header-post>

<div class="container">
	<div>
		<div class="col-md-12">
			<div class="user-profile">
				<div class="col-md-5 col-sm-5 col-xs-12 remove-padding-left">
					<img src="./images/default-user.jpg" class="img-profile img-responsive">
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<h3>John Stevens</h3>
					<h4>Age:</h4>
					<h4>Gender:</h4>
					<h4>State:</h4>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Phone:</h4>
					<h4>Email:</h4>
					<br />
					<h4>Job Role:</h4>
					<h4>Income:</h4>
					<br />
					<h4>Computer Experience:</h4>
					<h4>Hours Online Per Day:</h4>
					<h4>Education Level:</h4>
					<h4>Employment:</h4>
					<h4>Good Time for Test:</h4>
				</div>
			</div>
		</div>
	</div>
</div>
