<header-post></header-post>

<div class="container">
  <div class="section-higher">
    <change-password></change-password>
    
    <div class="col-md-12 rm-pad-left-right">
      <!-- delete user modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>

              <h4 class="modal-title" id="myModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="deleteUser()">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <!-- edit participant data modal -->
      <div ng-include="'views/includes/edit-participant.html'"></div>

      <br/>

      <div class="row" style="max-width: 800px; margin: 0 auto;">
        <div class="col-md-3 col-sm-4" id="user-profile-left">
          <img src="./images/default-user.svg" class="img-profile img-responsive"><br />

          <!-- launch edit participant data modal -->
          <a href="" data-toggle="modal" data-target="#editModal">Edit Information</a><br />

          <!-- launch delete user modal -->
          <a href="" data-toggle="modal" data-target="#deleteModal">Delete User</a>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <!-- only visible on mobile -->
          <div class="col-xs-4 rm-pad-left-right" id="user-profile-mobile-heading">
            <img src="./images/default-user.svg" class="img-profile img-responsive">
            <br />
          </div>
          <div class="col-md-12 col-xs-8 rm-pad-left-right" id="user-profile-name">
            <h2 class="rm-margin">{{formData.name}}</h2><br />
            <div id="user-profile-mobile-options">
              <!-- launch edit participant data modal -->
              <a href="" data-toggle="modal" data-target="#editModal">Edit Information</a><br />

              <!-- launch delete user modal -->
              <a href="" data-toggle="modal" data-target="#deleteModal">Delete User</a>
            </div>
          </div>

          <table class="table">
            <tbody>
              <tr>
                <td><h4>Age:</h4></td>
                <td>{{age}}</td>
              </tr>
              <tr>
                <td><h4>Gender:</h4></td>
                <td>{{formData.gender}}</td>
              </tr>
              <tr class="separator">
                <td><h4>State:</h4></td>
                <td>{{formData.state}}</td>
              </tr>
              <tr>
                <td><h4>Phone:</h4></td>
                <td><a href="tel:{{formData.phone}}">{{formData.phone}}</a></td>
              </tr>
              <tr class="separator">
                <td><h4>Email:</h4></td>
                <td><a href="mailto:{{formData.email}}">{{formData.email}}</a></td>
              </tr>
              <tr>
                <td><h4>Job Role:</h4></td>
                <td>{{formData.job}}</td>
              </tr>
              <tr>
                <td><h4>Computer Experience:</h4></td>
                <td>{{formData.experience}}</td>
              </tr>
              <tr>
                <td><h4>Good Time for Test:</h4></td>
                <td>{{formData.participateTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>
