<header>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="logo">
					<a id="logo" href="main.html">
						<img src="./images/logo.png" alt="">
					</a>
				</div>
			</div>
				<!--
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sample</a></li>
					<li><a href="#">Sample</a></li>
					<li><a href="#">Sample</a></li>
				</ul>
				-->
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="section-ty">
		<h1>Thank You!</h1>
		<br />
		<h4>Thanks for signing up to be a Dealertrack tester.<br /> Your contribution will make Dealertrack's solutions even better.</h4>
		<br /><br /><br />
	</div>
</div>
<footer>
	<div class="container">
		<ol>
			<li><a href="" target="">test</a></li>
			<li><a href="" target="">test</a></li>
			<li><a href="" target="">test</a></li>
		</ol>
	</div>
</footer>